<% if !@client.errors.empty? %>
	<ol>
		<% @client.errors.full_messages.each do |msg| %>
		<li><%=msg%></li>
		<%end%>
	</ol>
<%end%>

 <%= form_for @client do |f| %>

    <%= f.label 'Name' %> <br/>
    <%= f.text_field :name %> <br/>
    <%= f.label 'Email' %> <br/>
    <%= f.text_field :email %><br/>
    <%= f.label 'Password' %> <br/>
    <%= f.password_field :password %><br/>
    <%= f.label 'Avatar' %> <br/>
    <%= f.file_field :avatar %><br/>
    <%= f.submit %>
 <% end %>