<h1>Detalle del producto:</h1>

<table border:4px solid black>
	<tr>
		<th> Referencia	</th>
		<th> Marca </th>
		<th> Descripción </th>
		<th> Cantidad </th>
		<th> Tamaño </th>
		<th> Precio </th>
		<th> Color </th>
	</tr>
	<tr>
		<td><%= @product.ref%></td>
		<td><%= @product.brand%></td>
		<td><%= @product.description%></td>
		<td><%= @product.quantity%></td>
		<td><%= @product.size%></td>
		<td><%= number_to_currency(@product.price)%></td>
		<td><%= @product.color%></td>
	</tr>
	
</table>

<%= link_to 'Volver al índice',products_path%>